 {{#each info}}
    <div class="card card-book" style="width: 10rem;">
      <img class="card-img-top" src={{this.imageLinks.thumbnail}} alt="Card image cap">
      <div class="card-body card-body-book">
        <div class="card-book-text-container">
          <h4 class="card-text card-book-text">{{this.title}}</h4>
          <h6 class="card-text card-book-text">{{this.subtitle}}</h6>
        </div>
        <form action="/search" method="POST" id="testForm">
        <input type="text" name="starred" class="hidden" id="book-input">
          <div class="book-icons"> <i class="fas fa-star star-book"></i></i><i class="fas fa-plus" id="add-book"></i></div>
        </form>
        
      </div>
    </div>
    {{/each}}