<div class="container">
	<div class="row card-row">
		<div class="col-lg-3 col-sm-3">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    {{#if info.picture}}
                    <img alt="" src={{info.picture}}>
                    {{else}}
                    {{#if info.gender.F}}
                        <img alt="" src='/images/woman-avatar.png'>
                    {{/if}}
                    {{#if info.gender.M}}
                        <img alt="" src='/images/man-avatar.png'>
                    {{/if}}
                    {{#if info.gender.N}}
                        <img alt="" src='/images/neutral-avatar.png'>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="info">
                    <div class="username">{{info.username}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-sm" href="#">
                        Books Matched: 4
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>

