<div class="container">
	<div class="row card-row">
		<div class="col-lg-3 col-sm-3">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                   {{!-- Images cannot work right now b/c code does not match database model  --}}
                    {{#if this.user.picture}}
                        <img alt="" src={{this.user.picture}}>
                    {{else}}
                        {{#if this.gender.F}}
                            <img alt="woman" src='/images/woman-avatar.png'>
                        {{/if}}
                         {{#if this.gender.M}}
                            <img alt="man" src='/images/man-avatar.png'>
                        {{/if}}
                        {{#if this.gender.N}}
                            <img alt="neutral" src='/images/neutral-avatar.png'>
                        {{/if}}
                    {{/if}}
                     {{!-- <img alt="" src='/images/neutral-avatar.png'> --}}
                </div>
                <div class="info">
                    <div class="username">{{this.user.username}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-sm" href="#">
                        Matching books: {{this.matchingBooks}}
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>