<div class="container body-container">
  <a href="/search" class="btn btn-info"><i class="fas fa-chevron-left"></i></a>
  <div class="card" style="width: 90%;">
    <div class="card-body">
      <h4 class="card-title">{{book.volumeInfo.title}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{book.volumeInfo.authors}}</h6>
      <p class="card-text">{{{book.volumeInfo.description}}}</p>
    </div>
  </div>
  <a href="/search" class="btn btn-info">Go back</a>
</div>