<div id="matches-container" class="container body-container">
    <h1>Matches</h1>
    <form action="/matches" method="GET">
        <input name="username" type="text" class="form-control user-search" placeholder="Enter a username" >
        <button class="btn" type="submit" id="user-search-btn">Submit</button>
    </form>

    {{#if matches}}
    <div class="container matches-container flex wrap">
        {{#each matches}}
            {{> matches-users user=this.user }}
        {{/each}}
    </div>
    {{else}}
        <h3>Sorry, no matches, yet! Add some more books and check back later!</h3>
    {{/if}}
</div>