<div id="matches-container" class="container">
    <h1>Matches</h1>
    <form action="/matches" method="POST">
        <input name="username" type="text" class="form-control user-search" placeholder="Enter a username" >
        <button class="btn" type="submit" id="user-search-btn"> Submit</button>
    </form>
    {{#if userInfo}}
    <div>
        <h3>{{> users info=userInfo}}</h3>
    </div>
    {{/if}}
</div>