<h1>Matches</h1>
{{#if matches}}
  <ul>
    {{#each matches}}
      <li>User: {{this.user.username}} ,Matches: {{this.matchingBooks}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>Sorry, no matches, yet! Add some more books and check back later!</p>
{{/if}}