<div class="container-profile">

<div class="container">
	<div class="row card-row">
		<div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    {{!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> --}}
                    <img alt="" src={{userpicture}}>
                </div>
                <div class="info">
                    <div class="title">
                        <a id="profile-name" target="_blank" href="http://www.codewizard.tech/">{{firstname}}</a>
                    </div>
                    <div class="username">{{username}}</div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-twitter btn-twitter btn-sm icon" href="https://twitter.com/beckyarauz">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-fb btn-sm icon" rel="publisher"
                       href="https://www.facebook.com/rebeca.cabanas">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-insta btn-sm icon" rel="publisher" href="https://www.instagram.com/beckyarauz">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>

{{!-- <a href="/logout">Logout</a> --}}
</div>

