body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  --main-bg-color: #7ca4b0;
  --title-color: #826774;
  --text-color: #c7cbcf;
  --navbar-bg-color: #826774;
  --btn-text-color: #5f6c8f;
  --btn-bg-color: #1d2948;
  --btn-bg-color-light: #2c3e6b;
  --btn-border-color: #223155; }

h1, h2, h3 {
  color: var(--text-color); }

a {
  color: #00B7FF; }

.bg-main {
  background-color: var(--main-bg-color);
  min-height: 100vh; }

.btn-book {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color) !important;
  border-color: var(--btn-border-color) !important; }

.btn-book:hover {
  color: var(--text-color) !important;
  background-color: var(--btn-bg-color-light) !important;
  border-color: var(--btn-border-color) !important; }

.btn-book:focus, .btn-book.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.btn-book.disabled, .btn-book:disabled {
  color: #fff;
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color) !important; }

.btn-book:not(:disabled):not(.disabled):active, .btn-book:not(:disabled):not(.disabled).active,
.show > .btn-book.dropdown-toggle {
  color: #fff;
  background-color: var(--btn-bg-color);
  border-color: #005cbf; }

.btn-book:not(:disabled):not(.disabled):active:focus, .btn-book:not(:disabled):not(.disabled).active:focus,
.show > .btn-book.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.container-nav {
  padding: 0; }

.bg-book-dark {
  color: var(--text-color);
  background-color: var(--navbar-bg-color); }

a.bg-book-dark:hover, a.bg-book-dark:focus,
button.bg-book-dark:hover,
button.bg-book-dark:focus {
  background-color: #dae0e5 !important; }

.btn-home {
  background-color: var(--main-bg-color) !important; }

.card-home {
  background-color: var(--title-color) !important; }

#form-auth {
  display: flex;
  justify-content: center;
  align-content: center; }

.g-recaptcha {
  margin: 20px; }

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#form-auth {
  display: block;
  width: 380px; }

#form-auth label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form-auth input,
#form-auth button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-auth button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#form-auth button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background; }

.message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

#profile-pic {
  width: 100%; }

.input-group {
  max-width: 150px;
  margin: 0 20px; }

.hidden {
  display: none; }

.container-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.title #profile-name {
  color: var(--text-color) !important; }

#profilePic img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%; }

#profilePic {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 95px -14px rgba(0, 0, 0, 0.75);
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 10px;
  margin-top: 10px; }

.pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#input-label {
  max-width: 100px; }

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px; }

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border: none;
  border-radius: 150px;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card .card-heading {
  padding: 0 20px;
  margin: 0; }

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5; }

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top; }

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626; }

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999; }

.card .card-body {
  padding: 0 20px;
  margin-top: 20px; }

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px; }

.card .card-media img {
  max-width: 100%;
  max-height: 100%; }

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0; }

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8; }

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px; }

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap; }

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold; }

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top; }

.card.people:first-child {
  margin-left: 0; }

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff; }

.card.people .card-top.green {
  background-color: #53a93f; }

.card.people .card-top.blue {
  background-color: #427fed; }

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040; }

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis; }

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2); }

.card.hovercard .cardheader {
  background: url("https://farm8.staticflickr.com/7896/45813890105_8beb46349e_b.jpg");
  background-size: cover;
  height: 135px; }

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px; }

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5); }

.card.hovercard .info {
  padding: 4px 8px 10px; }

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle; }

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis; }

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px; }

/*# sourceMappingURL=style.css.map */