body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 90vh;
  --main-bg-color: #7ca4b0;
  --title-color: #826774;
  --text-color: #c7cbcf;
  --navbar-bg-color: #826774;
  --btn-text-color: #5f6c8f;
  --btn-bg-color: #1d2948;
  --btn-bg-color-light: #2c3e6b;
  --btn-border-color: #223155; }

h1, h2, h3 {
  color: var(--text-color); }

a {
  color: #00B7FF; }

.table {
  overflow: scroll; }

.book-genres-input {
  max-width: 200px; }

.page-header {
  display: block; }

#title-container {
  margin-top: 20vh; }

.header-filter::before {
  background: rgba(0, 0, 0, 0.2) !important; }

.main-raised {
  margin-top: -50vh !important; }

.flex {
  display: flex;
  justify-content: center; }

.wrap {
  flex-wrap: wrap;
  justify-content: space-around; }

.bg-main {
  background-color: var(--main-bg-color);
  min-height: 100vh; }

.btn-book {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color) !important;
  border-color: var(--btn-border-color) !important; }

.btn-book:hover {
  color: var(--text-color) !important;
  background-color: var(--btn-bg-color-light) !important;
  border-color: var(--btn-border-color) !important; }

.btn-book:focus, .btn-book.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.btn-book.disabled, .btn-book:disabled {
  color: #fff;
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color) !important; }

.btn-book:not(:disabled):not(.disabled):active, .btn-book:not(:disabled):not(.disabled).active,
.show > .btn-book.dropdown-toggle {
  color: #fff;
  background-color: var(--btn-bg-color);
  border-color: #005cbf; }

.btn-book:not(:disabled):not(.disabled):active:focus, .btn-book:not(:disabled):not(.disabled).active:focus,
.show > .btn-book.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

.navbar {
  color: white; }

.container-nav {
  padding: 0; }

.bg-book-dark {
  background-color: var(--navbar-bg-color) !important; }

a.bg-book-dark:hover, a.bg-book-dark:focus,
button.bg-book-dark:hover,
button.bg-book-dark:focus {
  background-color: #dae0e5 !important; }

.body-container {
  margin-top: 15vh; }

.btn-home {
  background-color: var(--main-bg-color) !important; }

.card-home {
  background-color: var(--title-color) !important; }

#form-auth {
  display: flex;
  justify-content: center;
  align-content: center; }

.g-recaptcha {
  margin: 20px; }

.form-container {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

#form-auth {
  display: block;
  max-width: 380px; }

#form-auth label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form-auth input,
#form-auth button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-auth button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#form-auth button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background; }

.message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

#profile-pic {
  width: 100%; }

.input-group {
  max-width: 150px;
  margin: 0 20px; }

.hidden {
  display: none; }

.container-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.title #profile-name {
  color: var(--text-color) !important; }

.book-tab {
  max-width: 50vw; }

.my-books {
  justify-content: space-evenly; }

#profilePic img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%; }

#profilePic {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 95px -14px rgba(0, 0, 0, 0.75);
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 10px;
  margin-top: 10px; }

.pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#input-label {
  max-width: 100px; }

.book-container {
  margin-top: 150px; }

.card-book {
  margin: 5px 3px !important;
  background-color: white !important;
  padding: 0 0 10px 0 !important;
  text-align: center; }

.card-book-text {
  font-size: 0.8rem; }

.card-book-text-container {
  margin-bottom: 25px; }

.book-icons {
  position: absolute;
  bottom: 10px;
  right: 40%; }

.book-detail {
  margin-top: 20vh; }

.book-detail .card-body {
  margin-bottom: 15px; }

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px; }

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border: none;
  border-radius: 150px;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card .card-heading {
  padding: 0 20px;
  margin: 0; }

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5; }

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top; }

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626; }

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999; }

.card .card-body {
  padding: 0 20px;
  margin-top: 20px; }

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px; }

.card .card-media img {
  max-width: 100%;
  max-height: 100%; }

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0; }

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8; }

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px; }

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap; }

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold; }

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top; }

.card.people:first-child {
  margin-left: 0; }

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff; }

.card.people .card-top.green {
  background-color: #53a93f; }

.card.people .card-top.blue {
  background-color: #427fed; }

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040; }

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis; }

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2); }

.card.hovercard .cardheader {
  background: url("https://farm8.staticflickr.com/7896/45813890105_8beb46349e_b.jpg");
  background-size: cover;
  height: 135px; }

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px; }

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5); }

.card.hovercard .info {
  padding: 4px 8px 10px; }

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle; }

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis; }

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px; }

.star-book:hover {
  color: gold;
  cursor: pointer; }

.add-book:hover {
  color: greenyellow;
  cursor: pointer; }

.clicked {
  color: #3780b1; }

.added {
  color: #b664b9; }

.friend-info {
  margin-left: 10px; }

.tagify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  cursor: text;
  position: relative;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }

@-webkit-keyframes tags--bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes tags--bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.tagify:hover {
  border-color: #ccc; }

.tagify.tagify--focus {
  border-color: #85c8ea; }

.tagify[readonly] {
  cursor: default; }

.tagify[readonly] > .tagify__input {
  visibility: hidden;
  width: 0;
  margin: 5px 0; }

.tagify[readonly] x {
  display: none; }

.tagify[readonly] tag > div {
  padding: .3em .5em; }

.tagify[readonly] tag > div::before {
  background: -webkit-linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  background: -o-linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  background: linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.tagify + input,
.tagify + textarea {
  border: 0;
  display: none; }

.tagify tag {
  display: inline-block;
  margin: 5px 0 5px 5px;
  position: relative;
  z-index: 1;
  cursor: default;
  -webkit-transition: .13s ease-out;
  -o-transition: .13s ease-out;
  transition: .13s ease-out; }

.tagify tag.tagify--editable > div::before {
  -webkit-box-shadow: 0 0 0 2px #d3e2e2 inset !important;
  box-shadow: 0 0 0 2px #d3e2e2 inset !important; }

.tagify tag.tagify--editable.tagify--invalid > div::before {
  -webkit-box-shadow: 0 0 0 2px #d39494 inset !important;
  box-shadow: 0 0 0 2px #d39494 inset !important; }

.tagify tag > div {
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: .3em .5em;
  color: #000;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .13s ease-out;
  -o-transition: .13s ease-out;
  transition: .13s ease-out;
  padding-right: 1.5em; }

.tagify tag > div > * {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top; }

.tagify tag > div > [contenteditable] {
  outline: 0; }

.tagify tag > div::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 16px #e5e5e5 inset;
  box-shadow: 0 0 0 16px #e5e5e5 inset;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: 120ms ease;
  -o-transition: 120ms ease;
  transition: 120ms ease;
  -webkit-animation: .3s tags--bump 1 ease-out;
  animation: .3s tags--bump 1 ease-out; }

.tagify tag:hover:not([readonly]) div::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  -webkit-box-shadow: 0 0 0 16px #d3e2e2 inset;
  box-shadow: 0 0 0 16px #d3e2e2 inset; }

.tagify tag.tagify--noAnim {
  -webkit-animation: none;
  animation: none; }

.tagify tag.tagify--hide {
  width: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  pointer-events: none; }

.tagify tag.tagify--mark div::before {
  -webkit-animation: none;
  animation: none; }

.tagify tag.tagify--notAllowed div > span {
  opacity: .5; }

.tagify tag.tagify--notAllowed div::before {
  -webkit-box-shadow: 0 0 0 20px rgba(211, 148, 148, 0.44) inset !important;
  box-shadow: 0 0 0 20px rgba(211, 148, 148, 0.44) inset !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.tagify tag[readonly] x {
  display: none; }

.tagify tag[readonly] > div {
  padding: .3em .5em; }

.tagify tag[readonly] > div::before {
  background: -webkit-linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  background: -o-linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  background: linear-gradient(45deg, #d6d6d6 25%, transparent 25%, transparent 50%, #d6d6d6 50%, #d6d6d6 75%, transparent 75%, transparent) 0/5px 5px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.tagify tag x {
  font: 14px/16px Serif;
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  right: calc(.5em - 2px);
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out; }

.tagify tag x::after {
  content: "\00D7"; }

.tagify tag x:hover {
  color: #fff;
  background: #c77777; }

.tagify tag x:hover + div > span {
  opacity: .5; }

.tagify tag x:hover + div::before {
  -webkit-box-shadow: 0 0 0 20px rgba(211, 148, 148, 0.3) inset !important;
  box-shadow: 0 0 0 20px rgba(211, 148, 148, 0.3) inset !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.tagify__input {
  min-width: 110px;
  margin: 5px;
  padding: .3em .5em;
  position: relative; }

.tagify__input:empty::before {
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  opacity: .5;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.tagify__input:focus {
  outline: 0; }

.tagify__input:focus::before {
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  opacity: 0;
  -webkit-transform: translatex(6px);
  -ms-transform: translatex(6px);
  transform: translatex(6px); }

@supports (-moz-appearance: none) {
  .tagify__input:focus::before {
    display: none; } }

.tagify__input:focus:empty::before {
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  opacity: .3;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

@supports (-moz-appearance: none) {
  .tagify__input:focus:empty::before {
    display: inline-block; } }

.tagify__input::before {
  content: attr(data-placeholder);
  line-height: 1.8;
  position: absolute;
  top: 0;
  z-index: 1;
  color: #000;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0; }

@supports (-moz-appearance: none) {
  .tagify__input::before {
    line-height: inherit;
    position: relative; } }

.tagify__input::after {
  content: attr(data-suggest);
  color: #000;
  opacity: .3;
  pointer-events: none; }

.tagify__input tag {
  margin: 0 2.5px; }

.tagify__input tag > div {
  padding-top: 0;
  padding-bottom: 0; }

.tagify__input tag > div::before {
  top: -3px;
  bottom: -3px; }

.tagify__input tag:hover:not([readonly]) > div::before {
  top: -3px;
  bottom: -3px;
  left: 0;
  right: 0; }

.tagify--mix .tagify__input {
  padding: 5px;
  margin: 0;
  width: 100%;
  height: 100%; }

.tagify__dropdown {
  position: absolute;
  z-index: 999;
  background: #fff;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #85c8ea;
  -webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tagify__dropdown__item {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: .35em .6em;
  margin: 2px;
  cursor: pointer;
  border-radius: 3px;
  position: relative; }

.tagify__dropdown__item--active {
  background: #e5e5e5; }

.tagify__dropdown__item:active {
  background: #f2f2f2; }

.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  width: 100%; }

.mail-box aside {
  display: block;
  float: none;
  height: 100%;
  padding: 0; }

.mail-box .sm-side {
  background: none repeat scroll 0 0 #e5e8ef;
  border-radius: 4px 0 0 4px;
  width: 35%; }

.mail-box .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0 4px 4px 0;
  width: 65%; }

.mail-box .sm-side .user-head {
  background: none repeat scroll 0 0 #00a8b3;
  border-radius: 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 10px; }

.user-head .inbox-avatar {
  float: left;
  width: 65px; }

.user-head .inbox-avatar img {
  border-radius: 4px; }

.user-head .user-name {
  display: inline-block;
  margin: 0 0 0 10px; }

.user-head .user-name h5 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 15px; }

.user-head .user-name h5 a {
  color: #fff; }

.user-head .user-name span a {
  color: #87e2e7;
  font-size: 12px; }

a.mail-dropdown {
  background: none repeat scroll 0 0 #80d3d9;
  border-radius: 2px;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px; }

.inbox-body {
  padding: 20px; }

.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%; }

.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff; }

ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%; }

.inbox-divider {
  border-bottom: 1px solid #d5d8df; }

ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%; }

ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%; }

ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a; }

ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px; }

ul.inbox-nav li a span.label {
  margin-top: 13px; }

ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase; }

ul.labels-info li {
  margin: 0; }

ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a; }

ul.labels-info li a:hover, ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a; }

ul.labels-info li a i {
  padding-right: 10px; }

.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px; }

.inbox-head {
  background: none repeat scroll 0 0 #41cac0;
  border-radius: 0 4px 0 0;
  color: #fff;
  min-height: 80px;
  padding: 20px; }

.inbox-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px; }

.inbox-head .sr-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px; }

.inbox-head .sr-btn {
  background: none repeat scroll 0 0 #00a6b2;
  border: medium none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
  padding: 0 20px; }

.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0; }

.table-inbox tr td {
  padding: 12px !important; }

.table-inbox tr td:hover {
  cursor: pointer; }

.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
  color: #f78a09; }

.table-inbox tr td .fa-star {
  color: #d5d5d5; }

.table-inbox tr.unread td {
  background: none repeat scroll 0 0 #f7f7f7;
  font-weight: 600; }

ul.inbox-pagination {
  float: right; }

ul.inbox-pagination li {
  float: left; }

.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%; }

.mail-option .chk-all, .mail-option .btn-group {
  margin-right: 5px; }

.mail-option .chk-all, .mail-option .btn-group a.btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 10px; }

.inbox-pagination a.np-btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 15px; }

.mail-option .chk-all input[type="checkbox"] {
  margin-top: 0; }

.mail-option .btn-group a.all {
  border: medium none;
  padding: 0; }

.inbox-pagination a.np-btn {
  margin-left: 5px; }

.inbox-pagination li span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px; }

.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6; }

.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
  border: 1px solid #e6e6e6;
  box-shadow: none; }

.btn-send, .btn-send:hover {
  background: none repeat scroll 0 0 #00a8b3;
  color: #fff; }

.btn-send:hover {
  background: none repeat scroll 0 0 #009da7; }

.modal-header h4.modal-title {
  font-family: "Open Sans",sans-serif;
  font-weight: 300; }

.modal-body label {
  font-family: "Open Sans",sans-serif;
  font-weight: 400; }

.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px; }

.sender-info {
  margin-bottom: 20px; }

.sender-info img {
  height: 30px;
  width: 30px; }

.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px; }

.view-mail a {
  color: #ff6c60; }

.attachment-mail {
  margin-top: 30px; }

.attachment-mail ul {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%; }

.attachment-mail ul li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 150px; }

.attachment-mail ul li img {
  width: 100%; }

.attachment-mail ul li span {
  float: right; }

.attachment-mail .file-name {
  float: left; }

.attachment-mail .links {
  display: inline-block;
  width: 100%; }

.fileinput-button {
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative; }

.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4); }

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
  margin-bottom: 5px; }

.files .progress {
  width: 200px; }

.fileupload-processing .fileupload-loading {
  display: block; }

* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0; }

* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px; }

@media (max-width: 767px) {
  .files .btn span {
    display: none; }
  .files .preview * {
    width: 40px; }
  .files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word; }
  .files .progress {
    width: 20px; }
  .files .delete {
    width: 60px; } }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.inbox-template {
  width: 100%; }

/*# sourceMappingURL=style.css.map */