<div class="container book-detail flex">
  <div class="card" style="width: 90%;">
  <div class="card-body">
    <h4 class="card-title">{{book.volumeInfo.title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{book.volumeInfo.authors}}</h6>
    <p class="card-text">{{book.volumeInfo.description}}.</p>
  </div>
</div>
</div>

