{{!-- 
<div class="container book-container" >
{{#each items}}
    <div class="card" style="width: 10rem;">
  <img class="card-img-top" src={{this.imageLinks.smallThumbnail}} alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{this.title}}</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
{{/each}}
</div>

                 --}}
